body {
	padding-top: 60px;
	position: relative;
	margin: 5px;
}

.curve {
	border-radius: 6px;
}

.content {
	margin-bottom: 5px;
}

.red {
	background: #f00;
}

.dTab {
	border: 1px #999 solid;
	background: #eee;
}

.dTabHeader {
	margin: 3px;
	font-weight: 300;
	font-size: 2.8rem;
}

.groupSaveContent {
	margin: 3px;
}

.groupSaveContent .header {
	font-weight: 700;
	font-size: 1.7rem;
}