.friend-box {
  border: 1px solid;
  padding: 10px;
}

.friend-list {
  border: 1px solid;
}

#invite-header-box {
  margin-bottom: 10px;
}

.search-bar {
  margin: 10px 0;
}

.circle-checkbox input[type=checkbox]{
    visibility:hidden;
}
.circle-checkbox {
    float:left;
    width:6px;
    height:6px;
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color:#dfdfdf;
    border:4px solid #ccc;
    margin:6px 6px 0 0;
}

.checkbox {
  display: none;
}
